{% extends 'products/base.html' %}
{% block content %}
{% load i18n %}

  <form method="post" enctype="multipart/form-data">
    <br>
 
    <p class="text-center">{% trans 'файлы <i class="fas fa-file"></i> будут проверяться, после проверки вам поступит письмо на электронную почту, которую вы указали при регистрации. Сроки производства не изменятся , если технически файл сделан корректно. Требования к файлам указаны ниже' %}</p>
   <h5> </i></h4>
 
    <p class="text-center"><a href="/requirements.html/"><i class="fas fa-file"></i>{% trans 'требования к файлам' %}</a>
    

      {% csrf_token %}


      <div class="container">
        <div class="center">


    <br>
    <br 


    <body>
      <center>
         
     
  </body>
   
    {{ form.as_p }}
    <button type= "submit"
    class= "btn btn-success btn-buy">
    {% trans 'загрузить файл' %}  
    </button>
  </form>
 
  <button type= "submit" class= "btn btn-warning btn-buy"><a href="{% url 'mainapp:cart-home' %}">{% trans 'заказать' %}</button></a>
<br>

</center>


<br>


{% endblock %}