{% extends 'products/base.html' %}

{% load thumbnail %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}

{% load i18n %}


<div class="blog">

	<H6 STYLE="font-family: 'avenir next rounded std'">
   <div class="container">
	<br>  <br>  
   <h2 class="text-center">{% trans 'Продукты' %}</h2>
   <br>


<!--

   <!DOCTYPE html> 
<html> 
<body> 

<div style="text-align:center"> 
  <button onclick="playPause()">Play/Pause</button> 
  <button onclick="makeBig()">Big</button>
  <button onclick="makeSmall()">Small</button>
  <button onclick="makeNormal()">Normal</button>
  <br><br>
  <video id="video1" width="420">
	<source src="/media/video/box_production1.mp4" type="video/mp4">
  
    Your browser does not support HTML video.
  </video>
</div> 

<script> 
var myVideo = document.getElementById("video1"); 

function playPause() { 
  if (myVideo.paused) 
    myVideo.play(); 
  else 
    myVideo.pause(); 
} 

function makeBig() { 

	
    myVideo.width = 860; 
} 

function makeSmall() { 
    myVideo.width = 320; 
} 

function makeNormal() { 
    myVideo.width = 420; 
} 
</script> 



</body> 
</html>

-->

<br>


<!--

   <div class="fullscreen-bg">
    <div class="overlay">
       
    </div>
    <video loop="" muted="" autoplay="" poster="/video/box_production1.mp4" class="fullscreen-bg__video">
        <source src="/video/box_production1.mp4.mp4" type="video/mp4">
       
    </video>
</div>
<script>

.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
}
 
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.overlay h1 {
    text-align:center;
    color:#fff;
    font-size: 70px;
    margin-top:17%;
}


</script>

-->
   <div class="container">
	<div class="row">
  
	  <div class="col-md-8">
	
		  <form method="get">
			{{ filter.form| crispy }}
	  </div>
	  <div class="col-sm">
		<button type= "submit"
		
		  type="button" class="btn btn-secondary"><i class="fas fa-search"></i> {% trans 'искать' %}</button>
  
		</button>

	  </div>
	</div>
  </div>
  <br>  <br>



  

	<div class=".col-xs-3">
		<div class="row">
			{% for product in filter.qs %}
		 <!-- <div class="col-md-6 col-sm-12 col-lg-3">-->
			 <div class="col-md-4 col-sm-5 col-lg-3	">
			<figure class="card card-product">
				<div class="img-wrap h5"> 


			
					<a  href="{{ product.get_absolute_url }}">

				
						<img  src="{{ product.mainimage.url }}" alt="not found" class="img-fluid">
						
				<!-- 	<img src="{{ product.mainimage.url }}" style="width: 100%; height: 250px;"> -->
					</a>

					
				</div>



				
				
				<figcaption class="info-wrap">
					<!-- Старый -->

					<div class="card-body">
						
					 <h5 class="card-title"><a href="/product/{{ product.slug }}"><p style="color:rgb(0, 0, 0)">{{ product.name }}></p></a></h5>  
				
				 <h6 class="card-title"><span class="text-muted">   {{ product.preview_text}} </span></a></h6>
				 <center>	<span class="price-new">от  {{product.minprice}} руб.</span> </center>
				  
						 <p class="card-text">
				
						  
						  </p>
						 </div>				
					<div class="action-wrap h5">
						<!-- <a href="cart/{{ product.slug }}" class="btn btn-primary btn-sm"> Add to Cart </a>
            			<a href="cart/" class="btn btn-primary btn-sm"> View Cart </a> -->
<!--             <a href="remove/{{ product.slug }}" class="btn btn-danger btn-sm"> Remove</a>
 -->						<!-- price-wrap.// -->
						 <div class="price-wrap h5">
						<!-- 	<p style="color:rgb(229, 152, 147)">от<br>{{product.minprice}}<br>₽</p> -->
						
							<!-- <del class="price-old">руб. 1980</del>-->
						</div> 
					</div> <!-- action-wrap -->
				</figcaption>
			</figure> <!-- card // -->
		</div> <!-- col // -->
      {% endfor %}
		</div>
	</div>
  </div>
  </div>
{% endblock %}











<!--


<div class="blog">

	<H6 STYLE="font-family: 'avenir next rounded std'">
   <div class="container">
	
   <h2 class="text-center">Продукты</h2>
   <H6 STYLE="font-family: 'avenir next rounded std'"></H6>
   <br>
	<div class="row">
    <div class="row">
    <div class="col-md-3">
		<span class="icon"><i class="fa fa-search"></i></span>
			<form method="get">
				{{ filter.form| crispy }}
			<button type= "submit"
		class= "btn btn-success btn-buy">
		  искать 
		</button>
		</div> 






		<div class="card-body">
			<H6 STYLE="font-family: 'Courier New'"></H6>
			 <h6 class="card-title"><a href=#><p style="color:rgb(36, 163, 60)">{{ product.name }}</p></a></h6>
	 {{ product.preview_text}} 
	  
	  
			 <p class="card-text">
	
			  
			  </p>
			 </div>







		
    <div class="col-md-9">
		<div class="row">
		
		  <div class="col-md-6 col-sm-12 col-lg-4">
			<figure class="card card-product">
				<div class="img-wrap"> 
					<img src="{{ product.mainimage.url }}" style="width: 100%; height: 250px;">
				</div>
				<figcaption class="info-wrap">
					<!-- Старый -->
					<h6 class="card-title"><a href="products_by_category/{{ product.id }}"><p style="color:rgb(0, 0, 0)">{{ product.name }}></p></a></h6>
		
					<H6 STYLE="font-family: 'avenir next rounded std'">
					<h6 class="title text-dots">{{ product.preview_text }}</a></h6>					
					<div class="action-wrap">
						<!-- <a href="cart/{{ product.slug }}" class="btn btn-primary btn-sm"> Add to Cart </a>
            			<a href="cart/" class="btn btn-primary btn-sm"> View Cart </a> -->
<!--             <a href="remove/{{ product.slug }}" class="btn btn-danger btn-sm"> Remove</a>
 -->						<!-- price-wrap.// -->
						 <div class="price-wrap h5">
							<!-- <span class="price-new">руб. {{product.price}}</span>-->
							<!-- <del class="price-old">руб. 1980</del>-->
						</div> 
					</div> <!-- action-wrap -->
				</figcaption>
			</figure> <!-- card // -->
		</div> <!-- col // -->
    
		</div>
	</div>
  </div>
  </div>




-->