
 
    
    {% extends 'products/base.html' %}
    {% load thumbnail %}
    {% load i18n %}
    {% load crispy_forms_tags %}
    
    
    
    
    {% block content %}
    
    <h5 class="text-center"><span class="text-muted"></h5></span>
      
    <div class="blog">
    
      <H6 STYLE="font-family: 'avenir next rounded std'">
     <div class="container">
      
   
  
      <h1 class="text-center">{% trans 'Как сделать заказ' %}</h1>
   
   
     <br>



     
      <div class="row">


        <h3><p class="text-left" > 
    
      
            <p>• {% trans 'Для расчета вам нужно в поле тираж ввести нужное количество экземпляров и нажать кнопку "посчитать стоимость тиража"' %}
                <p>•{% trans 'В таблице внизу появятся параметры расчета,сроки производства и цена.' %}
                       <p>•{% trans 'Таким образом,  из сотен готовых решений вы выбирте нужное вам и мгновенно получите техническое задание и расчет цены.'%}
                            <p>•{% trans 'Введенное значение тиража исчезнет. Не пугайтесь, оно появится в табличке внизу, а ячейка обнулится для следующего расчета.' %}
                                <p>•{% trans 'Алгоритм ориентируется на min или max тиражи, то есть автоматически увеличивает тираж до минимального, или считает не больше максимального.'%}
     
        {% for product in filter.qs %}
      
      <!-- <div class="tile__body list-default__parent"> -->
    
    
        <div class="col-md-3 col-lg-3 col-sm-6">
        
    
            <div class="card">
             <div class="card-img">
              <!-- <img align="center" src="{{ product.mainimage.url }}" class="img-fluid"> -->
              <!-- <img align="center" src="media/{{ product.mainimage }}" class="img-fluid"> -->
              <!-- { % thumbnail 'product.mainimage' "50" as im % } -->
              
                  {% thumbnail product.mainimage "300" as im %}
                    <img align="center" src="{{ im.url }}" alt="not found" class="img-fluid">
                    <!-- { % empty % }
                    <p>No image</p> -->
                {% endthumbnail %}
             </div>
    
            <div class="card-body">
            <H6 STYLE="font-family: 'Courier New'"></H6>
             <h6 class="card-title"><a href="products_by_category/{{ product.id }}"><p style="color:rgb(36, 163, 60)">{{ product.name }}></p></a></h6>
     {{ product.preview_text}} 
      
      
             <p class="card-text">
    
              
              </p>
             </div>
    
            </div>
    
    
      
      </div>
           
        
              
            {% endfor %}
    
       </div>
      </div>
     </div>
    </div>
    </div>
    </div>
    
      
    
    
      <div>
        <h6 class="text-center"></h6> 
        
        </div>
    <br>
    <br>
    <br>
    
    <div 
    

    
              </div>
    
    {% endblock %}
    
    