


{% extends 'products/base.html' %}
{% load thumbnail %}

{% load static %}

{% load i18n %}






{% load crispy_forms_tags %}
<div class="col-md-">
  <span class="icon"><i class="fa fa-search"></i></span>
  <form method="get">
    {{ filter.form| crispy }}
 
</div> 

{% block content %}

<style>
  a:link {
   color: #00d0d0; /* Цвет ссылок */
  }
  a:visited {
  
    color:	#808080; /* Цвет посещенных ссылок */
  }
  a:active {
   color: #f00; /* Цвет активной ссылки */ 
  }

 
   ul#menu li {
      color: green;
      display:inline;
  }
  
  </style>



<br>

<ul id="menu">


  
    
        <li><a href="/products_by_category/2/">{% trans 'блокноты' %}</a></li>
        <li><a href="/products_by_category/16/">{% trans '• визитки' %}</a></li>
        <li><a href="/products_by_category/10/">{% trans '• журналы' %}</a></li>
        <li><a href="/products_by_category/13/">{% trans '• календари' %}</a></li>
      <li><a href="/products_by_category/5/">{% trans '• книги' %}</a></li>
      <li><a href="/products_by_category/21/">{% trans '• конверты' %}</a></li>
      <li><a href="/products_by_category/1/">{% trans '• коробки' %}</a></li>
      <li><a href="/products_by_category/22/">{% trans '• ленты' %}</a></li>
      <li><a href="/products_by_category/11/">{% trans '• листовки' %}</a></li>
      <li><a href="/products_by_category/18/">{% trans '• наклейки' %}</a></li>
      <li><a href="/products_by_category/20/">{% trans '• пакеты' %}</a></li>
      <li><a href="/products_by_category/3/">{% trans '• папки' %}</a></li>
      <li><a href="/products_by_category/7/">{% trans '• подарки' %} </a></li>
      <li><a href="/products_by_category/25/">{% trans '• плейсметы' %}</a></li>
      <li><a href="/products_by_category/12/">{% trans '• постеры' %}</a></li>
      <li><a href="/products_by_category/17/">{% trans '• приглашения' %}</a></li>
      <li><a href="/products_by_category/14/">{% trans '• ролл апы' %}</a></li>
      <li><a href="/products_by_category/15/">{% trans '• этикетки' %}</a></li>
   
    

  </ul>



</div>

<br>




{% for ban in banner %}
  <img src="{{ ban.mainimage.url }}" alt="images" width="100%"  height="50%">
{% endfor %}



<!--
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 20.0%;
  padding: 5px;
}
</style>
</head>
<body>


<div class="row">
  <div class="column">
    <img src="/media/products/блокнот.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="/media/products/плакаты.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="/media/products/роллап3.png" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="/media/products/роллап3.png" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="/media/products/роллап3.png" alt="Snow" style="width:100%">
  </div>
</div>

</body>
</html>


-->
<br><br><br>

<div class="container">
  <div class="row">

    <div class="col-md-9">
   
        <form method="get">
          {{ filter.form| crispy }}
    </div>
    <div class="col-sm">
      <button type= "submit"
      
      type="button" class="btn btn-success"><i class="fas fa-search"></i> {% trans 'искать' %}</button>

      </button>
    </div>
  </div>
</div>



<br><br><br>

<!DOCTYPE html>
<html>
<head>
<style>
.center {
  margin: auto;
  width: 45%;
  border: 1px solid #73AD21;
  padding: 10px;
}
</style>
</head>
<body>


<div class="center">
  <p>
    <div class="container">
      <div class="row">
        <div id="rectangle">
     <a data-role="button" data-inline="true" href="support.html"> 
          <div class="col-sm">
            <h3 style="color:rgb(0, 0, 0)" class="card-title"><i class="fas fa-phone-volume"></i></h5></span>
    
            <h7 class="card-title"><span class="text-muted">  {% trans 'консультации' %}</h7></span>
          </a>
          </div>
        </div>
    
     
      
        <div id="rectangle">
      <a data-role="button" data-inline="true" href="quality.html"> 
          <div class="col-sm">
            <h3 style="color:rgb(0, 0, 0)" class="card-title"><i class="fas fa-gem"></i></h5></span>
    
            <h7 class="card-title"><span class="text-muted">{% trans 'контроль качества' %} </h7></span> 
          </a> 
        </div>
      </div>
    
    
      <div id="rectangle">
       <a data-role="button" data-inline="true" href="hmo.html"> 
          <div class="col-sm">
          <h3 style="color:rgb(0, 0, 0)" class="card-title"> <i class="fas fa-calculator"></i> </h5></span>
     
          <h7 class="card-title"><span class="text-muted">{% trans 'расчёт  в 2 клика' %}  </h7></span>
          </a>
        </div>
      </div>

      <a data-role="button" data-inline="true" href="rest.html"> 
        <div class="col-sm">
          <h3 style="color:rgb(0, 0, 0)" class="card-title"><i class="fas fa-utensils"></i></h5></span>
    
          <h7 class="card-title"><span class="text-muted"> {% trans ' для ресторанов' %}</h7></span>
        </a>
        </div>
<!--
        <a data-role="button" data-inline="true" href="hmo.html"> 
          <div class="col-sm">
            <h3 style="color:rgb(0, 0, 0)" class="card-title"><i class="fas fa-cart-plus"></i></h5></span>
      
            <h7 class="card-title"><span class="text-muted"> {% trans ' как заказать' %}</h7></span>
          </a>
          </div>
          -->
       
        </div>
      </div>
    </div>
    </p>
</div>

</body>
</html>



  
</div>

<br><br>

<div class="container">
  

 <br><br>
 <div class="row">
         
         <br>
         <br>
         <br>
         <br>

      
     
   <!-- <div class="card"> -->
    <!-- <div class="card-img">
     <img align="center" src="images/posts/polit.jpg" class="img-fluid">
    </div> -->

 {% for product in filter.qs %}
 
 <!-- <div class="tile__body list-default__parent"> -->

 <div class="col-md-3 col-lg-3 col-sm-6">
 

     <div class="card">
      <div class="card-img">

       <a href="products_by_category/{{ product.id }}">
         {% thumbnail product.mainimage "300" as im %}
           <img align="center" src="{{ im.url }}"  class="img-fluid">
     {% endthumbnail %}
       </a>
      </div>



      
     <div class="card-body">
       <H7 STYLE="font-family: 'avenir next rounded std'"></H6>
        <h5 class="card-title"><a href="products_by_category/{{ product.id }}"><p style="color:rgb(36, 163, 60)">{{ product.name }} ></p></a></h4>
        
   
 
<h6 class="card-title"><span class="text-muted"> {{ product.preview_text}}</span></a></h6>
<!--<center>	<span class="price-new">от  {{product.minprice}} руб.</span> </center>-->

        <p class="card-text">
         
       
       </p>
      </div>
    
     </div>

     <br><br>
 
 </div>
    
 
 





 <a href="/">
  
     
   {% endfor %}
   
   <a href="/">

  <!-- <img src="/media/products/banner.png" width="100%"> -->
  
 </a>

  </div>
 </div>
</div>
</div>
</div>
</div>



 










             
         </div>

{% endblock %}

