
{% load cart_tag %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

 
     
  
      <span class="align-middle"> <a href="/">

         <img src="/media/products/logo_rose.png" width="90" height="60">
      
      </a></span>
   
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
     
      <li {% if request.path == 'contact' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
        <a class="nav-link active" href="/about.html/">о нас <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"></a>
      </li>
<!-- 
      <li class="nav-item">
        <a class="nav-link" href="/technologies.html/">технологии</a>
      </li>-->
      <li class="nav-item">
       <!--  <a class="nav-link" href="/layout.html">дизайн</a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/requirements.html/"><i class="fas fa-file"></i> требования к файлам</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"></a>
      </li>
      <li class="nav-item">
       <!-- <a class="nav-link" href="/photo.html/">фотосъемка</a>-->
      </li> 
      <li class="nav-item">
        <a class="nav-link active" href="/delivery.html/"><i class="fas fa-truck"></i> доставка </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"></a>
      </li>
      <a class="nav-link active" href="mailto:info@005.ru"><i class="fas fa-envelope"></i>info@005.ru</a>
      <a class="nav-link active" href="/"><i class="fas fa-phone"></i> +7(495) 740-38-93</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/"></a>
    </li>
  
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mainapp:cart-home' %}">
          <i class="fa fa-shopping-cart"></i>  Корзина  
          <span class="badge badge-light">{{ request.user| cart_total }}</span>
        </a>
      </li>
       <li class="nav-item">
        
      </li>
   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-tie"></i> {{ request.user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!--<a class="dropdown-item" href="#">Панель</a>-->
          <a class="dropdown-item" href="{% url 'checkout:oderView' %}">Заказы</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/accounts/logout/">выход из системы</a>
        </div>
      </li>
      {% else %}
       <li class="nav-item">
        <a  class="btn btn-success" href="/accounts/login/">Логин / Регистрация</a>


        
      </li>
      {% endif %}
     
    </ul>
  </div>
  </div>
  
</nav>

