
{% extends 'products/base_r.html' %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
	<div class="container-fluid">

	{% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}

    <h3 class="h3" id="head_banner">{% trans "Set Password" %}</h3>

    <form class="container-fluid text-center" method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-outline-primary btn-lg" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
    </div>
{% endblock %}


{% extends 'products/base.html' %} {% load i18n %} {% block head_links %} {% endblock %} {% block head_title %}{% trans "Sign In" %} {% endblock %} {% block content %}
{% block messages %} {% if messages %}
{% for message in messages %}
{{message}} ×
{% endfor %}
{% endif %} {% endblock %}


{% csrf_token %} {{ form.as_p }} {% if redirect_field_value %} {% endif %} {% trans "Войти" %} {% trans "Забыли пароль ?" %}
{% csrf_token %} {{ form.as_p }} {% if redirect_field_value %} {% endif %} {% trans "Зарегистрироваться" %}
{% csrf_token %} {{ form.as_p }} {% trans "Поменять Пароль" %}
{% csrf_token %} {% if redirect_field_value %} {% endif %} {% trans 'Выйти из системы' %} {% trans 'На главную' %}
{% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% block content_extra %} {% endblock %} {% else %} {% endif %}
{% load account socialaccount %} {% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %} {{provider.name}} {% endfor %}

{% endblock %}