
 
    
    {% extends 'products/base.html' %}
    {% load thumbnail %}
    
    
    
    
    {% load crispy_forms_tags %}
    
    
    {% load i18n %}
    
    {% block content %}


                          
   </div>
    
    <h5 class="text-center"><span class="text-muted">
      
    <div class="blog">
    
   
 
<style>

  a:link {
   color: #00d0d0; /* Цвет ссылок */
  }
  a:visited {
  
    color:	#0c6e0c; /* Цвет посещенных ссылок */
  }
  a:active {
   color: #f00; /* Цвет активной ссылки */ 
  }

 
   ul#menu li {
      color: green;
      display:inline;
  }
  
  </style>

<ul id="menu">

    
        <li><a href="/products_by_category/16/"> {% trans 'визитные карточки' %}</a></li>
        <li><a href="/products_by_category/1/"> {% trans 'коробки' %}</a></li>
        <li><a href="/products_by_category/22/">  {% trans 'лента с печатью' %}</a></li>
        <li><a href="/products_by_category/11/"> {% trans 'листовки' %}</a></li>
        <li><a href="/products_by_category/11/"> {% trans 'меню' %}</a></li>
        <li><a href="/products_by_category/14/"> {% trans 'мобильные стенды' %} </a></li>
        <li><a href="/products_by_category/18/"> {% trans 'наклейки' %}</a></li>
        <li><a href="/products_by_category/20/"> {% trans 'пакеты' %}</a></li>
        <li><a href="/products_by_category/3/"> {% trans 'папки' %}</a></li>
        <li><a href="/products_by_category/12/"> {% trans 'постеры' %}</a></li>
        <li><a href="/products_by_category/29/"> {% trans 'плейсметы' %}</a></li> 
        <li><a href="/products_by_category/17/"> {% trans 'приглашения' %}</a></li>
        <li><a href="/products_by_category/14/"> {% trans 'ролл апы' %}</a></li>
        <li><a href="/products_by_category/23/">   {% trans 'стаканчики бумажные' %}</a></li>
        <li><a href="/products_by_category/24/"> {% trans 'информационные таблички' %}</a></li>
        <li><a href="/products_by_category/11/"> {% trans 'флаеры' %}</a></li>
        <li><a href="/products_by_category/15/"> {% trans 'этикетки' %}</a></li>
  

  </ul>

</nav>


<div class="container">
  <div class="row padded">
    <center>
 <div class="div"> <h5 class="text-left">

  <br><p>•{% 	trans 'Выбираем нужный продукт, добавляем в корзину, выставляем счет' %}
    <br>
    <center>  <p style="color:rgb(236, 81, 19)">{% 	trans 'или' %} </center>
   
        <br><p>•{% 	trans 'Вы  задаете нам вопросы,' %}
            <p>•{% 	trans 'Мы вместе уточняем детали, сразу подбираем решение,' %}	
                <p>•	{% 	trans 'На нашем сайте находим все интересующие вас полиграфические позиции,' %}
                    <p>•	  {% 	trans 'Мгновенно определяем тираж, цену и сроки производства.' %}  </center>  <br> <br>
                    </div>
     </div>
  
    </div>
     




      

       
                             {% thumbnail  "350" as im %}
                    
                    
<img src="/media/products/ label.png" width="50%">


 
<center> <h5><p>•	{% 	trans 'Считаем' %}</center>
  {% endthumbnail %}


                                                                    
{% thumbnail  "350" as im %}


<img src="/media/products/order.png" width="50%">

{% endthumbnail %} 
<center> <h5><p>•{% 	trans 'Добавляем  в счет' %}	 </center>

  <h5><p style="color:rgb(229, 152, 147)"> {% 	trans 'Мы вместе с вами найдем/разработаем лучшие полиграфические решения для вашего ресторана или кафе, а после полностью автоматизируем процесс  повторного заказа, при лучшем соотношении цена/качество' %}   </p></h4>

</div></div>

<div>
    
    {% endblock %}
  
