{% load i18n %}


Настоящим подтверждаю, что я даю ООО «Хайв Экспо Интернешнл» согласие на обработку, в том числе сбор, систематизацию, накопление, хранение (уточнение, обновление, изменение), использование, обезличивание, блокирование и уничтожение указанных мной персональных данных с целью обеспечения моего участия в выставке Printech, получения обратной связи, направления мне информационных материалов, обеспечения моего общения с участниками выставки.

Настоящим я даю согласие на то, что ООО «Хайв Экспо Интернешнл» может также поручать обработку моих персональных данных ООО «Н-Коннект» и/или ООО «Кубэкс Рус» и/или ООО «Апсайд Про» передавать мои персональные данные третьим лицам, в частности, участникам выставки Printech.






Краткий обзор политики конфиденциальности Hyve
 
Контролером данных, ответственным за обработку вашей личной информации, является ООО «Хайв Экспо Интернешнл», с которой вы можете связаться через Интернет или по почте по адресу:

ООО «Хайв Экспо Интернешнл», 107140, г. Москва, ул. Верхняя Красносельская, д. 3 стр. 2, помещение I

Данные, которые мы собираем о вас, включают в себя идентификационные данные и контактные данные (такие как имя, имя пользователя или идентификатор, почтовый адрес и адрес электронной почты, телефон), финансовые данные и данные транзакций (такие как банковские реквизиты и реквизиты платежной карты, данные о платежах вам и от вас), технические данные и данные об использовании (такие как IP-адрес, данные для входа, тип браузера и другие технические данные, информация о том, как вы используете наши услуги и веб-сайты).
 Основные способы использования ваших данных:
                    o зарегистрировать вас как клиента, посетителя или экспонента

                    o обрабатывать ваши заказы, включая управление платежами

                    o управлять нашими отношениями с вами

                    o доставить вам соответствующий контент сайта и рекламу

                    o использовать аналитику данных для измерения, понимания и повышения эффективности наших услуг и рекламы

Мы передаем ваши личные данные тщательно отобранным третьим сторонам, таким как другие компании, входящие в состав Hyve Group, сторонние торговые агенты, действующие от имени Hyve, поставщики площадок и поставщики услуг по организации мероприятий или ИТ-служб, которым необходимо обрабатывать ваши персональные данные для выполнения наших договоры с вами о предоставлении услуг на наших мероприятиях или в связи с ними.
Вы можете воспользоваться своими правами на доступ к имеющейся у нас информации о вас для исправления или удаления информации из наших записей, для возражения против обработки вашей информации или осуществления любых других ваших законных прав, связавшись с нами.
Введение
Hyve стремится защищать и уважать вашу конфиденциальность и личные данные. Эта политика конфиденциальности объяснит, как мы заботимся о ваших личных данных; пожалуйста, прочитайте ее внимательно. Для простоты использования этот документ представлен в структурированном формате, поэтому вы можете перейти к конкретным разделам, используя ссылки ниже.

1. Цель данной политики конфиденциальности

2. Данные, которые мы собираем о вас

3. Как собираются ваши личные данные?

4. Как мы используем ваши личные данные

5. Совместное использование ваших личных данных

6. Безопасность данных

7. Хранение данных

8. Ваши права

9. Свяжитесь с нами

10. Правовые основы обработки личных данных

11. Глоссарий

 
Цель данной политики конфиденциальности
Эта политика направлена на предоставление вам информации о том, как Hyve собирает и обрабатывает ваши личные данные посредством использования вами любого из наших веб-сайтов и участия в наших мероприятиях, включая любые данные, которые вы можете предоставить при подписке на нашу рассылку, регистрации или посещении одного из наши мероприятия, запросе дополнительной информации или приобретения любой из наших услуг.

Эта политика конфиденциальности дополняет любые более конкретные уведомления о конфиденциальности, которые мы можем представить вам при сборе конкретной информации о вас, и не предназначена для их отмены.

Сторонние ссылки

Наши сайты могут содержать ссылки на сторонние сайты, плагины и приложения. Нажатие на эти ссылки или включение этих соединений может позволить третьим сторонам собирать или передавать данные о вас. Мы не контролируем эти сторонние веб-сайты и не несем ответственности за их заявления о конфиденциальности. Когда вы покидаете наш веб-сайт, мы рекомендуем вам ознакомиться с политикой конфиденциальности каждого веб-сайта, который вы посещаете.
 

Данные, которые мы собираем о вас
Личные данные или личная информация означает любую информацию о человеке, посредством которой это лицо может быть прямо или косвенно идентифицировано. Она не включает данные, где были удалены идентификационные данные (анонимные данные).

Мы собираем, используем, храним и передаем различные виды личных данных о вас, согласно описанной ниже процедуре. В некоторых случаях данные могут не являться личными данными, но если они связаны с другими данными, по которым вы можете быть идентифицированы, мы рассматриваем их как личные данные:

Идентификационные данные включают имя, отчество, фамилию, имя пользователя или аналогичный идентификатор, обращение и пол.
Контактные данные включают в себя адрес для выставления счетов, адрес доставки, адрес электронной почты и номера телефонов.
Финансовые данные включают данные банковского счета и платежной карты.
Данные транзакции включают в себя информацию о платежах вам и от вас, а также другие детали услуг, которые вы приобрели у нас.
Технические данные включают в себя адрес интернет-протокола (IP), данные для входа, тип и версию браузера, настройку и местоположение часового пояса, типы и версии плагинов для браузера, операционную систему и платформу, а также другие технологические средства на устройствах, которые вы используете для доступа к этому веб-сайту.
Данные профиля включают в себя ваше имя пользователя и пароль, сделанные вами запросы или заказы, ваши интересы, предпочтения, отзывы и ответы на опросы.
Данные об использовании включают информацию о том, как вы используете наш веб-сайт, продукты и услуги.
Маркетинговые и коммуникационные данные включают ваши предпочтения в получении маркетинга от нас и наших третьих лиц и ваши коммуникационные предпочтения.
Мы также можем использовать вышеуказанную информацию для создания агрегированных данных, таких как статистические или демографические данные. Хотя агрегированные данные могут быть получены из ваших персональных данных, они не считаются персональными данными по закону, поскольку эти данные прямо или косвенно не раскрывают вашу личность.

Мы можем собирать сведения об ограничениях питания, чтобы сделать ваше посещение наших мероприятий наиболее комфортным. Эта информация может позволить сделать выводы относительно вашего вероисповедания или состояния здоровья. Просьба предоставлять эту информацию только в том случае, если вы даете согласие на ее использование по назначению.

За исключение вышеуказанного, мы не собираем никаких особых категорий личных данных о вас (включая данные о вашей расе или этнической принадлежности, религиозных или философских убеждениях, половой жизни, сексуальной ориентации, политических убеждениях, членстве в профсоюзе, информацию о вашем здоровье, а также генетические и биометрические данные). Мы также не собираем никакой информации об уголовных приговорах и преступлениях.


Как собираются ваши личные данные?
Мы используем разные методы сбора данных о вас, в том числе:

Прямые взаимодействия. Вы можете предоставить нам свои личные данные, контактные и финансовые данные, заполнив формы, предоставив нам свою визитную карточку или связавшись с нами по почте, телефону, электронной почте или иным способом, включая личные данные, которые вы предоставляете при:
                    o подаче заявки или запроса на одну из наших услуг;

                    o регистрации для участия в одном из наших мероприятий;

                    o создании аккаунта на одном из наших сайтов;

                    o подписки на услугу, предоставляемую нами;

                    o отправке запроса на предоставление маркетинговой информации;

                    o принятии участия в конкурсе, промо-акции или опросе; или

                    o отправке нам обратной связи.

Автоматизированные технологии или взаимодействия. Когда вы взаимодействуете с нашим веб-сайтом, мы можем автоматически собирать технические данные о вашем оборудовании, действиях и характере просмотра веб-сайта. Мы собираем эти личные данные с помощью файлов cookie и других аналогичных технологий. Мы также можем получать технические данные о вас, если вы посещаете другие веб-сайты, использующие наши файлы cookie. Пожалуйста, смотрите нашу Политику в отношении файлов cookie для получения более подробной информации.
Третьи лица или общедоступные источники. Мы можем получать персональные данные о вас из общедоступных источников, таких как Регистрационная палата, или от третьих лиц (примеры которых приведены ниже), которые могут базироваться за пределами ЕС. Как только мы получим такие данные, мы позаботимся о них в соответствии с условиями настоящей политики конфиденциальности.
       o Примеры сторонних источников:

              a. Поставщики аналитики, поставщики поисковой информации и рекламные сети, предоставляющие технические
                  данные об использовании вами веб-сайтов.

             b. Поставщики технических услуг, услуг регистрации, оплаты и доставки, которые предоставляют нам контактные,
                 финансовые и операционные данные, относящиеся к предоставляемым вам услугам.

            c. Брокеры данных, агрегаторы или сторонние торговые агенты, которые предоставляют нам Идентификационные
                и контактные данные лиц, которые могут быть заинтересованы в наших услугах.

Мониторинг и запись звонков. Мы можем записывать и отслеживать ваши разговоры с нами, включая телефонные звонки, личные встречи, письма, электронные письма, живые чаты, видеочаты и любые другие виды общения. Мы можем использовать эти записи для анализа и улучшения нашего сервиса, а также для обучения наших сотрудников.

Как мы используем ваши личные данные
Мы будем использовать ваши личные данные только в случаях, разрешенных законом. Чаще всего мы будем использовать ваши персональные данные в следующих случаях:

Чтобы зарегистрировать вас как нового клиента;
Чтобы зарегистрировать вас в качестве посетителя или участника одного из наших мероприятий;
Для обработки и доставки вашего заказа, в том числе:
                  o Управления платежами, сборами и расходами;

                  o Сбора и возврата причитающихся нам денег;
Для управления нашими отношениями с вами, которые будут включать:
                  o Уведомление вас об изменениях в наших условиях или политике конфиденциальности;

                  o Уведомление вас об изменениях дат, мест проведения мероприятий и связанных услугах;

Если вы участвуете в одном из наших мероприятий, договаривайтесь с нами о материально-техническом обеспечении вашего места экспонента на этом мероприятии;
Мы просим вас оставить отзыв или принять участие в опросе;
Чтобы вы могли принять участие в розыгрыше призов, участвовать в конкурсе или пройти опрос;
Для администрирования и защиты нашего бизнеса и данного веб-сайта (включая устранение неполадок, анализ данных, тестирование, обслуживание системы, поддержку, создание отчетов и размещение данных);
Для предоставления вам соответствующего контента и рекламы на веб-сайте, а также для измерения или понимания эффективности рекламы, которую мы вам представляем;
Использование аналитики данных для улучшения нашего веб-сайта, продуктов и услуг, маркетинга, отношений с клиентами и опыта;
Предоставление предложений и рекомендаций о товарах или услугах, которые могут вас заинтересовать.
Приложение в конце данной Политики содержит более подробную информацию о правовых основах обработки ваших данных и, в частности, о том, каковы наши законные интересы в каждом конкретном случае.

Как правило, мы не полагаемся на согласие в качестве юридического основания для обработки ваших личных данных, если вы не прошли конкретный процесс получения согласия на конкретную услугу.

Маркетинг

Мы можем использовать ваши идентификационные, контактные, технические данные, данные об использовании и данные профиля для маркетинга продуктов и услуг для вас, если у нас есть законное основание для этого.

При отсутствии отказа, вы будете получать маркетинговые сообщения от нас, если вы запросили у нас информацию, зарегистрировались для участия в одном из наших мероприятий или купили у нас услуги. Вы имеете право в любое время отказаться от этих сообщений, перейдя по ссылкам отказа от подписки на любое отправленное вам маркетинговое сообщение или связавшись с нами.

Сторонний маркетинг

При наличии у нас вашего явного согласия, мы можем передавать ваши личные данные доверенным компаниям за пределами Hyve Group в маркетинговых целях.

Файлы cookie

Вы можете настроить свой браузер так, чтобы он отказывался от всех или некоторых файлов cookie браузера или предупреждал вас, когда веб-сайты устанавливают файлы cookie или получают к ним доступ. Если вы отключите или откажетесь от файлов cookie, обратите внимание, что некоторые части наших веб-сайтов могут стать недоступными или работать неправильно. Для получения дополнительной информации о файлах cookie, которые мы используем, ознакомьтесь с нашей Политикой в отношении файлов cookie.

Изменение цели сбора данных

Мы будем использовать ваши личные данные только в тех целях, для которых мы их собирали, или для совместимых целей, если мы обоснованно считаем, что нам нужно использовать их для этих целей, и эта причина совместима с первоначальной целью.Если вы хотите получить объяснение того, как сбор данных для новой цели совместим с первоначальной целью, пожалуйста, свяжитесь с нами.

Если нам потребуется использовать ваши персональные данные для цели, не указанной выше, мы уведомим вас и объясним правовую основу, которая позволяет нам это делать.
 

Совместное использование ваших личных данных
Мы можем передавать ваши личные данные выбранным третьим лицам, в том числе:

Другим компаниям в составе Hyve Group, которые могут выступать в качестве совместных контроллеров или обработчиков и / или предоставлять ИТ-услуги и услуги системного администрирования, а также внутренние отчеты.
Компаниям за пределами Hyve Group, которые выступают в качестве торговых агентов от имени Hyve в некоторых странах.
Поставщикам услуг, которые предоставляют ИТ-системы, системы управления отношениями с клиентами, системы регистрации посетителей, системы управления событиями и услуги администрирования, и которые будут обрабатывать ваши данные в соответствии с условиями наших соглашений об обработке данных с ними. К ним относятся такие провайдеры, как Google, Amazon Web Services, Microsoft Azure, Marketo и N200.
Провайдерам или поставщикам услуг по организации мероприятий, которым необходимо обрабатывать ваши персональные данные для выполнения своих договоров с вами или с Hyve для оказания услуг на наших мероприятиях.
Спонсорам мероприятий, в целях лучшего планирования спонсорской активности для улучшения впечатления участников и, где это применимо, выбора приглашенных на частные брифинги, встречи или ужины. Эти спонсоры соглашаются на ограничения конфиденциальности и использование любой личной информации, которой мы делимся с ними, исключительно для этой цели.
Другим делегатам на веб-сайте и в официальном приложении для мероприятий (если применимо), позволяющих делегатам связываться друг с другом и способствующим деловому общению. Никакие адреса электронной почты и номера телефонов не будут обнародованы через список делегатов или иным образом. Вы можете в любой момент отказаться от общения с делегатом через этот носитель.
Мы можем передавать вашу информацию правоохранительным органам, государственным органам или другим организациям, если это требуется по закону или если у нас есть добросовестное убеждение в том, что такое использование разумно необходимо для:

соблюдения юридического обязательства, процесса или запроса;
обеспечения соблюдения наших условий и других соглашений, в том числе расследования любых возможных нарушений;
обнаружения, предотвращения или иного решения проблемы безопасности, мошенничества или технических проблем; или
защиты прав, собственности или безопасности нас, наших пользователей, третьих лиц или общественности, как это требуется или разрешено законом (включая обмен информацией с другими компаниями и организациями в целях защиты от мошенничества и снижения кредитного риска).
Мы также можем раскрывать вашу информацию третьим лицам:

в случае, если мы продаем или покупаем какой-либо бизнес или активы, и в этом случае мы можем раскрыть ваши данные предполагаемому продавцу или покупателю такого бизнеса или активов; или
если мы или практически все наши активы приобретены третьей стороной, и в этом случае информация, хранящаяся у нас о наших пользователях, будет одним из переданных активов.
Мы требуем от всех третьих лиц уважать безопасность ваших личных данных и обращаться с ними в соответствии с законом. Мы не разрешаем нашим сторонним поставщикам услуг использовать ваши персональные данные в своих целях и разрешаем им обрабатывать ваши персональные данные только в указанных целях и в соответствии с нашими инструкциями.
 

Безопасность данных
Мы приняли соответствующие меры безопасности, чтобы предотвратить случайную потерю, использование или доступ к вашим личным данным несанкционированным образом, их изменение или раскрытие. Кроме того, мы ограничиваем доступ к вашим персональным данным для тех сотрудников, агентов, подрядчиков и других третьих лиц, которые имеют деловые потребности. Они будут обрабатывать ваши личные данные только в соответствии с нашими инструкциями, и на них будет распространяться обязанность соблюдения конфиденциальности.

К сожалению, передача информации через Интернет не является полностью безопасной. Мы сделаем все возможное, чтобы защитить вашу информацию, но мы не можем гарантировать безопасность вашей информации, передаваемой через Интернет; любая передача на свой страх и риск. Мы будем использовать строгие процедуры и функции безопасности, чтобы попытаться предотвратить несанкционированный доступ к вашей информации в пределах нашего контроля и возможностей.

Мы внедрили процедуры для устранения любого предполагаемого нарушения персональных данных и уведомим вас и любой применимый регуляторный орган о нарушении, если мы обязаны это сделать по закону.

Хранение данных
Мы будем хранить ваши персональные данные только в течение необходимого периода времени для выполнения целей, для которых мы их собирали, в том числе для целей выполнения любых требований законодательства, бухгалтерского учета или отчетности, и не более чем на шесть лет (если более длительный срок не требуется закон).

При определенных обстоятельствах вы можете попросить нас удалить ваши данные: см. раздел «Ваши права» ниже для получения дополнительной информации.

В некоторых случаях мы можем анонимизировать ваши личные данные (чтобы они больше не могли быть связаны с вами) для исследовательских или статистических целей, и в этом случае мы можем использовать эту информацию в течение неопределенного времени без дополнительного уведомления.

Ваши права
Вы имеете право:

Запросить копию любой информации о вас, которую мы храним;
Отозвать любые согласия, которые вы дали;
Просить нас исправить любую неточную или неполную информацию о вас, которую мы имеем;
Просить нас удалить вашу информацию из нашего реестра;
Просить нас отправить копию вашей информации третьему лицу в формате переносимых данных;
Возражать против обработки вашей информации в целях прямого маркетинга, исходя из наших законных интересов;
Просить нас приостановить обработку вашей информации;
Подать жалобу нам или в офис Уполномоченного по вопросам информации или в любой другой соответствующий надзорный орган относительно того, как мы обрабатываем ваши личные данные.
Если вы хотите воспользоваться какими-либо из вышеперечисленных прав, заполните нашу онлайн-форму. За реализацию ваших прав плата обычно не взимается (хотя мы оставляем за собой право взимать с вас разумную плату, если ваш запрос является необоснованным, повторяющимся или чрезмерным). Мы попросим вас предоставить удостоверение личности, чтобы убедиться, что мы предоставляем информацию нужному человеку. Мы постараемся ответить на запросы в течение месяца.

Права субъектов данных в Калифорнии

Если вы являетесь резидентом Калифорнии, вы можете иметь право в соответствии с разделом 1798.83 Гражданского кодекса Калифорнии на получение определенной информации о типах персональных данных, которыми мы поделились с третьими сторонами для целей прямого маркетинга в течение предыдущего календарного года, включая названия и адреса этих третьих сторон, а также примеры видов услуг или продуктов, реализуемых этими третьими сторонами.

Пожалуйста, свяжитесь с нами по адресу data.privacy@hyve.group, если вы хотите воспользоваться какими-либо своими правами, описанными выше в отношении ваших личных данных.

Свяжитесь с нами
Контролер

Hyve состоит из разных юридических лиц, подробности о которых можно найти на нашем корпоративном сайте. Эта политика конфиденциальности выпускается от имени Hyve Group, поэтому, когда мы упоминаем «Hyve Group», «Hyve», «мы», «нас» или «наш» в этой политике конфиденциальности, мы имеем в виду соответствующую компанию, ответственную за обработку ваших данных.

ООО «Хайв Экспо Интернешнл» является контролером и ответственным за этот сайт.

Контактная информация

Полное наименование юридического лица: ООО «Хайв Экспо Интернешнл»
Адрес электронной почты: data.privacy@hyve.group
Почтовый адрес: ООО «Хайв Экспо Интернешнл», 107140, г. Москва, ул. Верхняя Красносельская, д. 3 стр. 2, помещение I
Номер телефона: +7 499 750 08 28

Любые запросы на реализацию ваших прав могут быть сделаны с помощью онлайн-формы заявки.

Если у вас есть какие-либо вопросы относительно этой политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу data.privacy@hyve.group.

Обновления

Последнее обновление этой политики произошло 8 января 2019 года. Любые изменения, которые мы можем внести в эту политику в будущем, будут опубликованы на этой странице.

Правовые основы обработки личных данных
 
Цель / деятельность

Тип данных

Законное основание для обработки, включая основание законных интересов

Зарегистрировать вас как нового клиента

(а) идентификационные данные

(б) контактные данные

Выполнение контракта с вами

Зарегистрировать вас как посетителя одного из наших мероприятий

(а) идентификационные данные

(б) контактные данные

Выполнение контракта с вами

Обработка и доставка вашего заказа, в том числе:

(а) Управление платежами, сборами и платежами

(б) Сбор и возврат причитающихся нам денег

(а) идентификационные данные

(б) контактные данные

(в) финансовые данные

(г) данные о сделке

(д) маркетинг и коммуникации

(а) Выполнение контракта с вами

(б) Необходимо для наших законных интересов (чтобы вернуть долги, причитающиеся нам)

Управление нашими отношениями с вами, которые будут включать:

(а) Уведомление вас об изменениях наших условий или политики конфиденциальности

(б) Уведомление вас об изменениях дат, мест проведения мероприятий или связанных с ними услуг

(а) идентификационные данные

(б) контактные данные

(в) профиль

(г) маркетинг и коммуникации

(а) Выполнение контракта с вами

(б) Необходимость соблюдать юридическое обязательство

© Необходимость для наших законных интересов (чтобы обновлять наши реестры и изучать, как клиенты используют наши продукты / услуги)

Организация материально-технического обеспечения вас и вашего места экспонента на мероприятии

(а) идентификационные данные

(б) контактные данные

(в) финансовые данные

(г) данные о сделке

(д) профиль

Выполнение контракта с вами

Просьба оставить отзыв или принять участие в опросе

(а) идентификационные данные

(б) контактные данные

(в) профиль

(г) маркетинг и коммуникации

Необходимость для наших законных интересов (чтобы обновлять наши реестры и изучать, как клиенты используют наши продукты / услуги)

Ваше участие в розыгрыше призов, участие в конкурсе или прохождение опроса

(а) идентификационные данные

(б) контактные данные

(в) профиль

(г) использование

(д) маркетинг и коммуникации

(а) Выполнение контракта с вами

(b) Необходимость для наших законных интересов (чтобы обновлять наши реестры и изучать, как клиенты используют наши продукты / услуги, развитие нашего бизнеса)

Администрирование и защита нашего бизнеса и данного веб-сайта (включая устранение неполадок, анализ данных, тестирование, обслуживание системы, поддержку, создание отчетов и размещение данных)

(а) идентификационные данные

(б) контактные данные

(в) технические данные

(a) Необходимость для наших законных интересов (для ведения нашего бизнеса, предоставления административных и ИТ-услуг, обеспечения безопасности сети, предотвращения мошенничества и в контексте реорганизации бизнеса или реструктуризации группы)

(б) Необходимость соблюдать юридическое обязательство

Предоставления вам соответствующего контента и рекламы на веб-сайте, а также для измерения или понимания эффективности рекламы, которую мы вам предоставляем

(а) идентификационные данные

(б) контактные данные

(в) профиль

(г) использование

(д) маркетинг и коммуникации

(е) технические данные

Необходимо для наших законных интересов (для изучения того, как клиенты используют наши продукты / услуги, для их развития, для развития нашего бизнеса и для информирования о нашей маркетинговой стратегии)

Использование аналитики данных для улучшения нашего веб-сайта, продуктов / услуг, маркетинга, отношений с клиентами и опыта

(а) технические данные

(б) использование

Необходимо для наших законных интересов (для изучения того, как клиенты используют наши продукты / услуги, для их развития, для развития нашего бизнеса и для информирования о нашей маркетинговой стратегии)

Предложения и рекомендации о товарах или услугах, которые могут вас заинтересовать

(а) идентификационные данные

(б) контактные данные

(в) технические данные

(г) использование

(д) профиль

Необходимо для наших законных интересов (для развития наших продуктов / услуг и развития нашего бизнеса)


Обратите внимание, что мы можем обрабатывать ваши личные данные более чем на одном законном основании в зависимости от конкретной цели, для которой мы используем ваши данные. Пожалуйста, свяжитесь с нами, если вам нужны подробности о конкретном правовом основании, на которое мы полагаемся при обработке ваших личных данных, если в приведенной ниже таблице указано более одного основания.

Глоссарий
Законный интерес означает заинтересованность нашего бизнеса в ведении и управлении нашим бизнесом, чтобы мы могли предоставить вам лучший сервис / продукт и лучший и самый безопасный опыт. Мы обязательно учитываем и уравновешиваем любое потенциальное влияние на вас (как положительное, так и отрицательное) и ваши права, прежде чем обрабатывать ваши личные данные в наших законных интересах. Мы не используем ваши персональные данные для действий, в которых наши интересы нарушаются из-за воздействия на вас (если у нас нет вашего согласия, если иное не требуется или не разрешено законом).

Выполнение контракта означает обработку ваших данных там, где это необходимо для выполнения контракта, стороной которого вы являетесь, или для принятия мер по вашему запросу до заключения такого контракта.

Соблюдение юридического или нормативного обязательства означает обработку ваших персональных данных, если это необходимо для соблюдения юридического или нормативного обязательства, на которое мы находимся.